@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat/Montserrat-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat/Montserrat-Italic.ttf") format('truetype');
    font-weight: italic;
    font-style: italic;
}
@font-face {
    font-family: 'Arial';
    src: url("../../fonts/Arial/ArialItalic/ArialItalic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url("../../fonts/Arial/ArialBold/ArialBold.ttf") format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Arial';
    src: url("../../fonts/Arial/ArialItalic/ArialItalic.ttf") format('truetype');
    font-weight: italic;
    font-style: italic;
}