@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  }

$font-family: "Montserrat", Helvetica, Arial, sans-serif;

@mixin font-defaults {
  font-family: $font-family;
  font-weight: 200
}

@mixin heading {
  @include font-defaults;

  font-size: 40px;
  font-weight: bold;
}
