@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
  }
@font-face {
  font-family: "Arial";
  src: url("./fonts/Arial/ARI.ttf")
}

$font-family: "Montserrat", Helvetica, Arial, sans-serif;

@mixin font-defaults {
  font-family: $font-family;
}

@mixin heading {
  @include font-defaults;

  font-size: 40px;
  font-weight: bold;
}
